/* src/styles/Global.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

/* Color de fondo de toda la página */
.bg-custom {
  background-color: #e5e7eb;
}

/* Inscripción a torneos */
.p-3.shadow.rounded {
  background-color: hsl(180, 14%, 97%);
}

.p-4.shadow.rounded.text-center {
  background-color: hsl(0, 0%, 100%);
}

.col-12.shadow.rounded.text-center {
  background-color: hsl(0, 0%, 100%);
}

/* Gallery items */
#gallery .gallery-item img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-items img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#gallery .gallery-item img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Cards de ganadores con colores específicos */
.card-verde {
  background-color: hsl(131, 84%, 10%) !important; 
}

.card-azul {
  background-color: hsl(209, 88%, 10%) !important;
}

.card-roja {
  background-color: hsl(285, 82%, 11%) !important;
}

.card-amarillo {
  background-color: hsl(0, 76%, 16%) !important;
}


/*html, body, #root {
  margin: 0;
  padding: 0;
}*/


